<div>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{ request.name }}</mat-card-title>
      <mat-card-subtitle>{{ request.companyCreationStatus }}</mat-card-subtitle>
      <img
        mat-card-sm-image
        src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/63a31a9548cbbf0.png"
      />
    </mat-card-title-group>
    <mat-card-content fxLayout="column" fxLayoutGap="3%">
      <div>
        <div class="company-detail-header">Email:</div>
        {{ request.email }}
      </div>
      <div>
        <div class="company-detail-header">Contact:</div>
        {{ request.contactNumber }}
      </div>
      <div>
        <div class="company-detail-header">HR Full Name:</div>
        {{ request.hrAdminFullName }}
      </div>
      <div>
        <div class="company-detail-header">HR Email:</div>
        {{ request.hrAdminEmail }}
      </div>
      <div>
        <div class="company-detail-header">Company Size:</div>
        {{ request.companySize }}
      </div>
      <div>
        <div class="company-detail-header">Operating Hours:</div>
        {{ request.officeOpeningHour }} -
        {{ request.officeClosingHour }}
      </div>
      <div>
        <div class="company-detail-header">Office Name:</div>
        {{ request.officeName }}
      </div>
      <div>
        <div class="company-detail-header">Office Address:</div>
        {{ request.officeAddress }}
      </div>
      <div>
        <div class="company-detail-header">Office Capacity:</div>
        {{ request.officeCapacity }}
      </div>
      <div>
        <div class="company-detail-header">Number Of Employees:</div>
        {{ request.numOfEmployees }}
      </div>
      <div>
        <div class="company-detail-header">Subscription Type:</div>
        {{ request.subscriptionType }}
      </div>
      <div>
        <div class="company-detail-header">Payment Method:</div>
        {{ request.paymentMethod }}
      </div>
      <div>
        <div class="company-detail-header">Work From Home Arrangement:</div>
        {{ request.wfoArrangement }}
      </div>
    </mat-card-content>
    <mat-card-actions
      *ngIf="request.companyCreationStatus === companyCreationStatusEnum[0]"
      fxLayout="row"
      fxLayoutGap="3%"
    >
      <button (click)="handleAcceptRequest()">Accept</button>
      <button (click)="handleRejectRequest()">Reject</button>
    </mat-card-actions>
  </mat-card>
</div>
