.infoTable {
  border-spacing: 5vw;
}

.heading {
  color: rgba(0, 55, 100, 0.8);
  font-weight: bolder;
  font-size: 1.8vw;
}

.btn {
  width: auto;
  height: 30%;
  background: rgba(255, 166, 135, 0.2);
  border-radius: 7px;
}
