<div fxLayout="row" style="height: 100%; width: 100%">
  <div
    fxLayout="column"
    fxShow
    fxHide.lt-md
    fxLayoutGap="10%"
    #leftBanner
    class="side-navbar"
  >
    <button (click)="handleMain()">LOGO</button>
    <div fxLayout="column" fxLayoutGap="5%">
      <button (click)="handleNewCompany()">Requests</button>
      <button (click)="handleCompanies()">Companies</button>
      <button (click)="handlePayments()">Payments</button>
    </div>
  </div>

  <div style="width: 100%">
    <div *ngIf="currentTab === 'mainTab'">
      <app-main></app-main>
    </div>

    <div *ngIf="currentTab === 'requestTab'">
      <!-- new company component -->
      <app-company-request></app-company-request>
    </div>

    <div *ngIf="currentTab === 'companiesTab'">
      <app-companies></app-companies>
    </div>

    <div *ngIf="currentTab === 'paymentsTab'">
      <app-payments></app-payments>
    </div>
  </div>
</div>
