<mat-tab-group>
  <mat-tab label="Existing">
    <mat-grid-list cols="1" gutterSize="5px">
      <div *ngFor="let company of allNotDeletedCompanies">
        <mat-card (click)="openCompanyDetails(company)">
          <mat-card-title>
            {{ company.name }}
          </mat-card-title>
          <mat-card-subtitle>
            Date created: {{ company.createdAt }}
          </mat-card-subtitle>
          <mat-card-content>
            Subscription Type: {{ company.subscriptionType }}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Deleted">
    <mat-grid-list cols="1" gutterSize="5px">
      <div *ngFor="let company of allDeletedCompanies">
        <mat-card (click)="openCompanyDetails(company)">
          <mat-card-title>
            {{ company.name }}
          </mat-card-title>
          <mat-card-subtitle>
            Date created: {{ company.createdAt }}
          </mat-card-subtitle>
          <mat-card-content>
            Subscription Type: {{ company.subscriptionType }}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
